.plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  text-align: start;
  flex-direction: column;
  align-items: start;
  gap: 12px;
  width: 320px;
  padding: 20px;
  background-color: var(--gray-4);
  border: var(--gray-3);
  border-radius: 20px;
}

.label {
  color: var(--white);
  background-color: var(--pink);
  padding: 0 4px;
  font-size: 16px;
  margin-bottom: 8px;
  width: fit-content;
}

.timeline span:first-of-type {
  font-size: 28px;
  margin-right: 4px;
  line-height: 24px;
}

.description {
  color: var(--gray-1);
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.list_item {
  position: relative;
  padding-left: 14px;
}
.list_item::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--pink);
  position: absolute;
  left: 0;
  top: 5.5px;
  border-radius: 100%;
}

.cta {
  color: var(--pink);
  text-underline-offset: 2px;
  transition: all 0.2s ease;
}
.cta:hover {
  opacity: 0.8;
}

.custom_idea_cta {
  text-align: center;
  color: var(--gray-1);
}
.custom_idea_cta a {
  margin-top: 4px;
  color: var(--blue);
  display: block;
  text-decoration: none;
}
