:root {
  --black: #1a1a1a;
  --white: #ffffff;
  --blue: #00b2ff;
  --pink: #ff69b8;
  --green: #00c851;
  --gray-1: #c0c0c0;
  --gray-3: #f3f3f3;
  --gray-4: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  background-color: var(--white);
}

button {
  font-weight: inherit;
  font-family: inherit;
}
